.Form {
  margin: 50px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Form input {
  display: block;
}

.Form div {
  margin-top: 20px;
}

.Form button {
  margin: 20px 0;
  padding: 7px 10px;
  border-radius: 10px;
  border: none;
  background-color: #14213d;
  color: white;
  cursor: pointer;
}

.Form button a {
  text-decoration: none;
}
